# Set default behavior to automatically normalize line endings
* text=auto

# Force LF line endings for JavaScript and TypeScript files
*.js text eol=lf
*.ts text eol=lf
*.json text eol=lf
*.css text eol=lf
*.html text eol=lf
*.jsx text eol=lf
*.tsx text eol=lf
